@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.circle {
    background-color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
  
.logo {
    position: relative;
    bottom: 10px;
    height: 150px;
}

body {
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
    font-size: 100%;
}